region: us-east-1
aws_access_key:
aws_secret_key:
target_group_name: '{{ name_service }}'
vpc_name: "{{ name_service }}"
igw_name: '{{ name_service }}'
sg_name: "{{ name_service }}"
route_table_name: '{{ name_service }}'
elb_name: "{{ name_service }}"
keypair_name: "{{ name_service }}"
