region:
aws_access_key:
aws_secret_key:
target_group_name: 'TG-{{ project_name }}-production'
vpc_name: "VPC_{{ name_service }}"
igw_name: 'IGW_{{ name_service }}'
security_group_name: "SG_{{ name_service }}"
route_table_name: 'RT_{{ name_service }}'
